body {
    background-color: rgb(198, 225, 255);
}

*{
    box-sizing: border-box;
}

#title{
    font-size: 75px;
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

div.audition{
    font-size: 23px;
    color: rgb(255, 168, 97);
    border: 7px double rgb(255, 168, 97) ;
    padding: 5px;
    
}

div.korea{
    font-size: 23px;
    color: rgb(207, 204, 2);
    border: 7px double rgb(207, 204, 2) ;
    padding: 5px;
    
  

}

div.drama{
    font-size: 23px;
    color:rgb(21, 212, 4);
    border: 7px double rgb(21, 212, 4) ;
    padding: 5px;
}

div.chilling{
    font-size: 23px;
    color: rgb(202, 0, 209);
    border: 7px double rgb(202, 0, 209) ;
    padding: 5px;
}

div.upgrade{
    font-size: 23px;
    color: rgb(255, 3, 150);
    border: 7px double rgb(255, 3, 150) ;
    padding: 5px;

}

div.others{
    font-size: 23px;
    color: rgb(214, 6, 6);
    border: 7px double rgb(214, 6, 6) ;
    padding: 5px;

}

A:link{
    color:black;
    text-decoration: none;
    font-size: 17px;
    
}

A:hover{
    border: 3px outset rgb(231, 231, 231);
    /*filter:opacity per mettere un filtro*/
   /* filter:contrast(70%);*/
    display: block;
    color: black;
}

A:active{
    background-color: rgb(64, 185, 255);
}

DL{
    border: 2px solid black;
    padding-left: 11px;
    padding-bottom: 11px;
}

.row{
    width: 100%;
}

@media (min-width:1200px) {
    .bl1, .bl2, .bl3, .bl4, .bl5, .bl6{
        float: left;
        width: 25%;
    }
}

@media (min-width:992px) and (max-width:1199px){
    .bl1, .bl2, .bl3, .bl4, .bl5, .bl6{
        float: left;
        width: 50%;
    }
}

@media (max-width: 992px){
    .bl1, .bl2, .bl3, .bl4, .bl5, .bl6{
        float: left;
        width: 100%;
}
}

.chilling{

}



 